
body{
background-color: #d2b48c;
 margin-left: 20%;
margin-right: 20%;
 border: 2px dotted black;
  padding: 10px 10px 10px 10px;
font-family: sans serif;
1blockquote.q 
  color: #D4AF37;
 border-left: 4px solid #880000;
 font-style: italic;
}
<h2>20 января 2026</h2>
<p>
  Учебный пример RSA:<br>
  • Открытый ключ: (n = 21, e = 5)<br>
  • Закрытый ключ: (n = 21, d = 5)<br>
n= 1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012......
</p>
<h2> 17 02 2026 </h2> 

    Топ-3 предсказаний:
Beagle: 91.87%
Treeing Walker Coonhound: 3.89%
English foxhound: 2.01%

<h2> 24.02.2026 </h2> 
    
    Loading weights: 100%
 199/199 [00:00<00:00, 3249.13it/s, Materializing param=pooler.dense.weight]

BertModel LOAD REPORT from: DeepPavlov/rubert-base-cased
Key                                        | Status     |  | 
-------------------------------------------+------------+--+-
cls.predictions.transform.dense.bias       | UNEXPECTED |  | 
cls.predictions.transform.dense.weight     | UNEXPECTED |  | 
cls.seq_relationship.bias                  | UNEXPECTED |  | 
cls.seq_relationship.weight                | UNEXPECTED |  | 
cls.predictions.decoder.bias               | UNEXPECTED |  | 
cls.predictions.bias                       | UNEXPECTED |  | 
cls.predictions.transform.LayerNorm.bias   | UNEXPECTED |  | 
bert.embeddings.position_ids               | UNEXPECTED |  | 
cls.predictions.transform.LayerNorm.weight | UNEXPECTED |  | 
cls.predictions.decoder.weight             | UNEXPECTED |  | 

Notes:
- UNEXPECTED	:can be ignored when loading from different task/architecture; not ok if you expect identical arch.

Вопрос пользователя: Сколько ждать мой заказ?
Найден FAQ-вопрос: Как быстро доставляется заказ? (sim=0.706)
Ответ бот-FAQ: Наш стандартный срок доставки — 3–5 рабочих дней.


