
body{
background-color: #d2b48c;
 margin-left: 20%;
margin-right: 20%;
 border: 2px dotted black;
  padding: 10px 10px 10px 10px;
font-family: sans serif;
1blockquote.q 
  color: #D4AF37;
 border-left: 4px solid #880000;
 font-style: italic;
}
<h2>20 января 2026</h2>
<p>
  Учебный пример RSA:<br>
  • Открытый ключ: (n = 21, e = 5)<br>
  • Закрытый ключ: (n = 21, d = 5)<br>
  • Сообщение: «доступ разрешён» → m = 7<br>
  • Шифротекст: C = 7⁵ mod 21 = 13
</p>
