
body{
background-color: #d2b48c;
 margin-left: 20%;
margin-right: 20%;
 border: 2px dotted black;
  padding: 10px 10px 10px 10px;
font-family: sans serif;
1blockquote.q 
  color: #D4AF37;
 border-left: 4px solid #880000;
 font-style: italic;
}
<h2>20 января 2026</h2>
<p>
  Учебный пример RSA:<br>
  • Открытый ключ: (n = 21, e = 5)<br>
  • Закрытый ключ: (n = 21, d = 5)<br>
n= 1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012......
</p>
<h2> 17 02 2026 </h2> 

    Топ-3 предсказаний:
Beagle: 91.87%
Treeing Walker Coonhound: 3.89%
English foxhound: 2.01%

<h2> 24.02.2026 </h2> 
    
    Loading weights: 100%
 199/199 [00:00<00:00, 3249.13it/s, Materializing param=pooler.dense.weight]

BertModel LOAD REPORT from: DeepPavlov/rubert-base-cased
Key                                        | Status     |  | 
-------------------------------------------+------------+--+-
cls.predictions.transform.dense.bias       | UNEXPECTED |  | 
cls.predictions.transform.dense.weight     | UNEXPECTED |  | 
cls.seq_relationship.bias                  | UNEXPECTED |  | 
cls.seq_relationship.weight                | UNEXPECTED |  | 
cls.predictions.decoder.bias               | UNEXPECTED |  | 
cls.predictions.bias                       | UNEXPECTED |  | 
cls.predictions.transform.LayerNorm.bias   | UNEXPECTED |  | 
bert.embeddings.position_ids               | UNEXPECTED |  | 
cls.predictions.transform.LayerNorm.weight | UNEXPECTED |  | 
cls.predictions.decoder.weight             | UNEXPECTED |  | 

Notes:
- UNEXPECTED	:can be ignored when loading from different task/architecture; not ok if you expect identical arch.

Вопрос пользователя: Сколько ждать мой заказ?
Найден FAQ-вопрос: Как быстро доставляется заказ? (sim=0.706)
Ответ бот-FAQ: Наш стандартный срок доставки — 3–5 рабочих дней.

  <h2> 18.03.2026 </h2> 
    

🎓 Студент занимался 5 часов
📊 Прогноз баллов: 50.23
----------------------------------------

📈 Прогнозы для группы студентов:
 Часы подготовки  Прогноз баллов
               1           12.32
               3           31.28
               5           50.23
               7           69.19
              10           97.62


 <h2> 24.03.2026 </h2> 
   0.69
 <h2> 28.03.2026 </h2> 
Ошибка на обучении (MSE): 0.003838967897591111
Ошибка на тесте (MSE): 0.0032096826623829932
Ошибка на обучении (MSE): 0.0037387493760881515
Ошибка на тесте (MSE): 0.003218268499273365
Логику нейросети обЪяснить можно!
